.login-form-button{
    width: 100%;
}

button{
    background-color: #001529;
    border: none;
}

.imgDiv{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 40px;
}

.bg{
    background-color: #f5f7f9;
}